* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .main-header {
    background-color: #6356e5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    border-radius: 10px;
    margin: 10px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin: 5px;
  }
   
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    position: relative; 
    transition: color 0.3s ease;
  }
  
  .navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px;
    background-color: #ffd700;
    transition: width 0.3s ease;
  }
  
  .navbar a:hover {
    color: #ffd700;
  }
  
  .navbar a:hover::after {
    width: 100%; 
  }
  
  .menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  .home-content {
    text-align: center;
    margin-top: 80px;
  }
  
  .home-content h1 {
    font-size: 36px;
    color: #6356e5;
    margin-bottom: 10px;
  }
  
  .home-content p {
    font-size: 18px;
    color: #333;
    margin-bottom: 40px;
  }
  
  .categories {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
  }
  
  .category {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .category img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  
  .category span {
    display: block;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #6356e5;
  }
  
  .category:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px #6356e5;
    border-radius: 10px;
  }

  .category.selected {
    border-color: #6356e5; 
    box-shadow: 0 4px 8px #6356e5;
    border-radius: 10px;
  }
  
  .start-btn {
    background-color: #6356e5;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .start-btn:hover {
    background-color: #5348d6;
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .categories {
      flex-direction: column;
      gap: 20px;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .navbar {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  
    .navbar.active {
      display: flex;
    }
  }
  

  .styled-popup {
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  }

  .styled-button {
    background-color: #3a2ade !important;
    color: #ffffff !important;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background 0.3s ease;
  }

  .styled-button:hover {
    background-color: #6356e5 !important;
  }

